body {
  background-color: #344955; }

.now-playing {
  padding-top: 15px; }

.background-landing {
  background: url("/images/background.jpg");
  background-size: cover;
  background-attachment: fixed; }

.movie-background {
  height: 70vh;
  width: 100vw;
  background-size: cover;
  position: absolute; }
  .movie-background:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s; }

.movie-details {
  padding-top: 100px;
  color: white;
  position: relative; }
  .movie-details .movie-poster {
    position: relative;
    display: flex;
    justify-content: center; }
    @media (min-width: 992px) {
      .movie-details .movie-poster {
        position: absolute; }
        .movie-details .movie-poster .img-fluid {
          max-width: 100%; } }
    @media (min-width: 1200px) {
      .movie-details .movie-poster {
        left: -40px;
        top: 160px; } }
    @media (min-width: 1400px) {
      .movie-details .movie-poster .img-fluid {
        max-width: 120%; } }
  .movie-details .movie-main-data {
    padding-top: 50px; }
    @media (min-width: 1200px) {
      .movie-details .movie-main-data {
        padding-top: 110px; } }
    @media (min-width: 1400px) {
      .movie-details .movie-main-data {
        padding-top: 90px; } }
    .movie-details .movie-main-data .title {
      font-family: "Dosis", sans-serif;
      font-weight: 700;
      font-size: 60px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      @media (min-width: 992px) {
        .movie-details .movie-main-data .title {
          text-align: left; } }
      .movie-details .movie-main-data .title .year {
        font-size: 24px;
        margin-left: 10px;
        color: #AAAAAA; }
    .movie-details .movie-main-data .rank {
      border-left: 1px solid #232F34;
      position: relative;
      font-family: "Nunito", sans-serif;
      font-size: 10px;
      font-weight: 300;
      padding-left: 35px;
      padding-top: 20px;
      text-align: right; }
      .movie-details .movie-main-data .rank .fas {
        font-size: 15px;
        color: #fff811;
        top: 5px;
        margin-right: 5px; }
      .movie-details .movie-main-data .rank .average {
        font-weight: 500;
        font-size: 15px; }
  .movie-details .movie-additional-data {
    padding-top: 88px; }
    .movie-details .movie-additional-data .nav-tabs {
      border: none; }
      .movie-details .movie-additional-data .nav-tabs .nav-link {
        font-family: "Dosis", sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #AAAAAA;
        cursor: pointer; }
        .movie-details .movie-additional-data .nav-tabs .nav-link:hover {
          border-color: transparent;
          color: #FFFFFF; }
        .movie-details .movie-additional-data .nav-tabs .nav-link.active {
          color: #FFFFFF;
          background-color: transparent;
          border-color: transparent;
          text-decoration: underline;
          font-weight: 800; }
    .movie-details .movie-additional-data .overview {
      padding-top: 50px;
      font-family: "Nunito", sans-serif;
      color: #FFFFFF;
      text-align: justify; }
      .movie-details .movie-additional-data .overview .cast {
        margin-top: 50px; }
        .movie-details .movie-additional-data .overview .cast h5 {
          color: #FFFFFF;
          font-family: "Dosis", sans-serif;
          font-weight: 700; }
          .movie-details .movie-additional-data .overview .cast h5 small {
            font-family: "Nunito", sans-serif;
            font-size: 14px;
            color: #AAAAAA;
            float: right;
            padding-top: 8px;
            cursor: pointer; }
          .movie-details .movie-additional-data .overview .cast h5:after {
            content: '';
            display: block;
            border-bottom: 1px solid #232F34; }
        .movie-details .movie-additional-data .overview .cast .cast-item {
          align-items: center;
          padding: 15px 0; }
          .movie-details .movie-additional-data .overview .cast .cast-item .img {
            margin-right: 15px;
            border-radius: 5px;
            height: 40px;
            width: 40px; }
          .movie-details .movie-additional-data .overview .cast .cast-item .cast-name {
            position: relative;
            top: -14px;
            left: -8px; }
          .movie-details .movie-additional-data .overview .cast .cast-item .cast-character {
            position: relative;
            top: -3px; }
      .movie-details .movie-additional-data .overview .metadata {
        color: #FFFFFF;
        font-family: "Nunito", sans-serif;
        font-size: 14px; }
        .movie-details .movie-additional-data .overview .metadata h5 {
          font-family: "Dosis", sans-serif;
          font-weight: 700; }

.navbar {
  margin-left: -15px;
  margin-right: -15px;
  background-color: #232F34 !important; }
  .navbar .navbar-brand img {
    height: 50px; }
  .navbar .navbar-nav .nav-item.active .nav-link {
    color: #FFFFFF; }
  .navbar .navbar-nav .nav-item .nav-link {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #7F7F7F; }

.base-card {
  cursor: pointer;
  margin-bottom: 25px; }
  .base-card .wrapper {
    background-color: #FFFFFF;
    min-height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2); }
  .base-card .data {
    position: absolute;
    top: 0;
    width: 100%; }
    .base-card .data .content {
      background-color: rgba(0, 0, 0, 0.6);
      height: 30px;
      color: #FFFFFF;
      padding: 0 15px; }
      .base-card .data .content .release-date {
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 15px;
        padding-top: 3px;
        margin-right: -5px;
        display: flex;
        justify-content: space-between; }
        .base-card .data .content .release-date .date {
          font-weight: 900; }
      .base-card .data .content .vote {
        position: absolute;
        bottom: -12px;
        right: 10px;
        font-family: "Nunito", sans-serif;
        font-size: 10px;
        font-weight: 300; }
        .base-card .data .content .vote .fas {
          font-size: 15px;
          color: #fff811;
          margin-right: 3px; }
        .base-card .data .content .vote .average {
          font-weight: 500;
          font-size: 15px; }

#preloader {
  background-color: #344955;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  top: 0px; }
  #preloader #loading-center {
    width: 100%;
    height: 100%;
    position: relative; }
  #preloader #loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px; }
  #preloader .loader-loading {
    position: absolute;
    height: 200px;
    animation: animate 2s infinite; }

@-webkit-keyframes animate {
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.search-container {
  padding: 30px 0 0 0;
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */ }
  .search-container .group {
    position: relative;
    margin-bottom: 45px; }
  .search-container input {
    background-color: transparent;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #7F7F7F;
    color: #FFFFFF; }
  .search-container input:focus {
    outline: none; }
  .search-container label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .search-container input:focus ~ label, .search-container input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #FFFFFF; }
  .search-container .bar {
    position: relative;
    display: block;
    width: 100%; }
  .search-container .bar:before, .search-container .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #FFFFFF;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .search-container .bar:before {
    left: 50%; }
  .search-container .bar:after {
    right: 50%; }
  .search-container input:focus ~ .bar:before, .search-container input:focus ~ .bar:after {
    width: 50%; }
  .search-container .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5; }
  .search-container input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease; }

@-webkit-keyframes inputHighlighter {
  from {
    background: #FFFFFF; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #FFFFFF; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #FFFFFF; }
  to {
    width: 0;
    background: transparent; } }
  .search-container .find-button {
    padding-top: 3px; }
    .search-container .find-button button {
      border-color: #7F7F7F;
      color: #7F7F7F;
      height: 45px;
      width: 45px; }

.search-results .loader-loading {
  margin: 0 auto;
  height: 100px;
  animation: animate 2s infinite; }

.cast-crew .crew {
  margin-top: 60px; }
  .cast-crew .crew h5 {
    color: #FFFFFF;
    font-family: "Dosis", sans-serif;
    font-weight: 700; }
    .cast-crew .crew h5 small {
      font-family: "Nunito", sans-serif;
      font-size: 14px;
      color: #232F34;
      float: right;
      padding-top: 8px; }
    .cast-crew .crew h5:after {
      content: '';
      display: block;
      border-bottom: 1px solid #232F34; }
  .cast-crew .crew .crew-item {
    align-items: center;
    padding: 15px 0; }
    .cast-crew .crew .crew-item > div {
      align-items: center;
      display: flex; }
    .cast-crew .crew .crew-item .name {
      display: inline-block;
      margin-left: 15px; }
    .cast-crew .crew .crew-item .img {
      border-radius: 5px;
      height: 40px;
      width: 40px; }

.similar-movies {
  padding: 15px; }
  .similar-movies .title {
    margin-bottom: 30px; }
    .similar-movies .title h3 {
      font-family: "Dosis", sans-serif;
      color: #FFFFFF;
      font-weight: 700;
      size: 24px; }
      .similar-movies .title h3 small {
        size: 18px;
        color: #AAAAAA; }
  .similar-movies .similar-movie-container {
    margin-bottom: 20px; }
    .similar-movies .similar-movie-container .poster-image img {
      height: 240px; }
    .similar-movies .similar-movie-container .similar-movie-details a:hover {
      text-decoration: none; }
    .similar-movies .similar-movie-container .similar-movie-details h5 {
      font-family: "Dosis", sans-serif;
      color: #FFFFFF;
      font-weight: 700;
      font-size: 20px; }
      .similar-movies .similar-movie-container .similar-movie-details h5 small {
        color: #AAAAAA; }
    .similar-movies .similar-movie-container .similar-movie-details .vote {
      position: relative;
      font-family: "Nunito", sans-serif;
      font-size: 12px;
      font-weight: 300;
      margin-bottom: 20px; }
      .similar-movies .similar-movie-container .similar-movie-details .vote .fas {
        margin-right: 10px;
        font-size: 20px;
        color: #fff811; }
      .similar-movies .similar-movie-container .similar-movie-details .vote .average {
        font-weight: 500;
        font-size: 17px; }
    .similar-movies .similar-movie-container .similar-movie-details p {
      font-family: "Nunito", sans-serif;
      color: #FFFFFF;
      text-align: justify;
      font-size: 14px;
      max-height: 130px;
      overflow: hidden;
      text-overflow: ellipsis; }
