$dosis: 'Dosis', sans-serif;
$nunito: 'Nunito', sans-serif;
$source: 'Source Sans Pro', sans-serif;;

$mainColor: #232F34;

$white: #FFFFFF;
$whiteHover: #AAAAAA;
$overviewText: #FFFFFF;

$black: #000000;

$starColor: #fff811;
$mainBackground: #344955;

body{
  background-color: $mainBackground;
}

@import "partials/pages";


@import "partials/index";
@import "partials/details";

@import "partials/navbar";
@import "partials/card";
@import "partials/preloader";
@import "partials/search";
@import "partials/crew";
@import "partials/similar";